.App {
  text-align: center;
}

* {
  margin: 0px;
  padding: 0px;
}

.header {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

/* .heropage {
  border: 1px solid #62b038;
  background-color: #93eb9a;
  padding: 20px;
  width: 80%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* @media (max-width: 768px) {
  .heropage {
    width: 90%;
    height: auto;
  }
} */

.tagline {
  position: absolute;
  top: 100px;
  width: 100%;
  z-index: 1;
}

*/ .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}