@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.navigation_bar{
    display: flex;
    justify-content:space-around;
    align-items: center;
    width: 100%;
    /* border: 1px black solid; */
    padding: 20px;
    
}

a{
    font-size: xx-large;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    color: black;
}

.horizontal_line{
    height: 102px;
    width: 130px;
}