*{
    margin: 0px;
    padding: 0px;
    background-color: #FFBACC;;
}


.header{
    display: flex;
    justify-content: space-between;
    /* border: 1px black solid; */
}
/*  */
.herosection{
    
    height: 50vh;
    width:100;
    display: flex;
    justify-content:center;
    
   
    /* border: 1px solid black; */
}
