.beachtext{
    
    font-size: x-large;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: bolder;
    font-style: normal;
    color:#ff95b1;
    height: 24px;
    width: 196px;
    
}